.fs25.mb20 Font Family

.mb40
  - %w[ ffa fft ffv ffg ffm fftnr ].each do |font_family|
    div.lh120.fs16(class=font_family) <b>#{font_family}</b> &mdash; All work and no play makes Jack a dull boy!
