.ptz_table.w100p.mb50
  .ptz_td.w300
    .mb20= link_to 'Index', root_path, class: 'ptz_btn ptz_size-18'

    ruby:
      links = {
        'Font family' => 'font_family',
        'Line height' => 'line_height',
        'Font size'   => 'font_size',
        'Block model' => 'block_model',
        'Buttons'     => 'buttons',
        'Padding'     => 'paddings',
        'Margins'     => 'margins',
        'Inputs'      => 'inputs',
        'Textareas'   => 'textareas',
        'width'       => 'width',
        'width'       => 'width'
      }

    - links.each_pair do |k, v|
      - current = 'current' if v == @view
      .mb20= link_to k, root_path(view: v), class: "ptz_btn ptz_size-18 #{current}"

  .ptz_td.pl20.pr20
    = render template: "protozaur/views/#{@view}"
