.fs25.mb50
  span.mr30 Margins (0 &mdash; 100)
  span m<b>X</b>, mt<b>X</b>, ml<b>X</b>, mr<b>X</b>, , mb<b>X</b>,

- (5..40).step(5) do |num|
  div.showme.fs16.p10(class="m#{ num }") Margin: #{num}

- (40..60).step(5) do |num|
  div.showme.fs16.p10(class="m#{ num }") Margin: #{num}


- (60..75).step(5) do |num|
  div.showme.fs16.p10(class="m#{ num }") Margin: #{num}
