.fs25.mb50 Paragraph

.mb50
  xmp.showme.p10.mb20.fs18.lh130
    erb:
      p= "All work and no play makes Jack a dull boy! " * 20

  xmp.showme.p10.mb20.fs18.lh130
    erb:
      <p>
        All work and no play makes Jack a dull boy!
        ...
        All work and no play makes Jack a dull boy!
      </p>

  .showme
    p= "All work and no play makes Jack a dull boy! " * 20
