.fs25.mb50 Sup / Sub

.mb50
  xmp.showme.p10.mb20.fs18.lh130
    erb:
      All <sup>work</sup> and no play makes <sub>Jack</sub> a dull boy!

  xmp.showme.p10.mb20.fs18.lh130
    erb:
      All <sup>work</sup> and no play makes <sub>Jack</sub> a dull boy!


  .showme.p10.fs16
    | All <sup>work</sup> and no play makes <sub>Jack</sub> a dull boy!
